---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Testimonials from '../components/Testimonials.astro';
import QuoteForm from '../components/QuoteForm.astro';
---

<Layout title="Atlanta Fencing - Professional Fence Installation & Repair Services">
	<main>
		<Hero />
		<Services />
		<Testimonials />
		<QuoteForm />
	</main>
</Layout>